@import url('https://fonts.googleapis.com/css2?family=syne:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: #fff;
}

.main_query{
    display: flex;
    flex-direction: column;
    width:410px;
}

h1{
    font-size: 35px;
}

label{
    margin: 10px 0;
    font-size: 19px;
}
input , button{
    margin: 10px 0;
    padding: 15px;
    font-size: 18px; 
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: 0;
    text-align: center;
    border-radius: 6px;
}

button{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

::placeholder{
    color: #999;
}

.reponse{
    width: 410px;
    display: none;
}